{{#if (reverse lastPosts) }}
<section class="c-Timeline__wrapper">
  <ul class="c-Timeline">
    <li class="c-Timeline__container">
        <div class="c-Timeline__item">
          <a href="/posts" class="u-Highlight blue">More</a>
        </div>
    </li>
    {{#each lastPosts}}
      <li class="c-Timeline__container">
        <div class="c-Timeline__item">
          <a href="/{{ path }}" class="c-Timeline__itemTitle">
            {{ title }}
          </a>
          <time class="c-Timeline__itemDate" datetime="{{publishDate}}" data-readable="{{formatDate publish_date}}" data-timeago="{{update_date}}">
            {{ formatDate publish_date }}
          </time>
          {{#if feat_image}}
          <div class="c-Timeline__imageWrapper is-loading">
            <img class="c-Timeline__image" data-src="{{ feat_image }}" alt="Post main image">
          </div>
          {{/if}}
        </div>
      </li>
    {{/each}}
  </ul>
</section>
{{/if}}
