<section class="c-Timeline__wrapper">
  <ul class="c-Timeline">
    <li class="c-Timeline__container">
        <div class="c-Timeline__item">
          <a href="#" class="u-Highlight blue">Back up</a>
        </div>
    </li>
    {{#each timelineItems}}
      <li class="c-Timeline__container">
        <div class="c-Timeline__item mb-2">
          <h2 class="c-Timeline__itemTitle">
            {{ title }}
          </h2>
          <div class="c-Timeline__details">
            <div class="c-Timeline__tag {{ tag }}">{{ tag }}</div>
            <div class="c-Timeline__period">
              {{ start }} {{#if end}}- {{ end }}{{/if}}
            </div>
          </div>
          <div class="c-Timeline__description">
            {{{ summary }}}
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
</section>
