---
import Layout from '../../layouts/Layout.astro';
import Project from '../../components/Project.astro';

const projectPosts = Object.values(
  import.meta.glob('../posts/*.md', { eager: true })
);
---

<Layout>
  <div class="mt-8 mb-16">
    <h1 class="text-3xl font-bold text-zinc-900 dark:text-zinc-100">
      Projects
    </h1>
    <p class="text-base text-zinc-900 dark:text-zinc-100">
      Things I've built and played with.
    </p>
  </div>
  <div class="grid md:grid-cols-2 gap-16">
    {
      projectPosts
        .filter((post: any) => post.frontmatter.type?.includes('project'))
        .sort(
          (a: any, b: any) =>
            Date.parse(b.frontmatter.update_date) -
            Date.parse(a.frontmatter.update_date)
        )
        .map((post: any) => (
          <Project
            title={post.frontmatter.title}
            summary={post.frontmatter.summary}
            url={post.url}
            publish_date={post.frontmatter.publish_date}
            feat_image={post.frontmatter.feat_image}
            type={post.frontmatter.type}
          />
        ))
    }
  </div>
</Layout>
