<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" >
  <title>{{ title }} - {{ sitename}}</title>
  <meta
    name="description"
    content="{{ post_description }}"
  >

  <meta property="og:title" content="{{ title }} - {{ sitename }}">
  <meta property="og:description" content="{{ post_description }}">
  <meta property="og:site_name" content="{{ title }} - {{ sitename }}">
  <meta property="og:image" content="https://mstrlaw.com{{ thumbnail }}">
  <meta property="og:url" content="https://mstrlaw.com/{{ path }}">
  <meta name="twitter:card" content="summary_large_image">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content="metalsmith">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/favicon/site.webmanifest">
  <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">

  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/app.css">
  <link rel="stylesheet" href="/styles/timeline.css" async>
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/footer.css" async>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@3.0.1/dist/chartjs-plugin-annotation.min.js"></script>
  <script src="/scripts/extra.min.js"></script>
</head>

<body>
  {{> Header }}
  <div class="l-Container">
    <h2>Activities and Workouts</h2>
      <div class="chartjs-size-monitor">
			<div class="chartjs-size-monitor-expand">
				<div class=""></div>
			</div>
			<div class="chartjs-size-monitor-shrink">
				<div class=""></div>
			</div>
		</div>
		<canvas
      id="activityVolume"
      style="display: block; width: 1379px; height: 689px;"
      width="1379"
      height="689"
      class="chartjs-render-monitor"
    ></canvas>
  </div>

  <div class="c-Background"></div>
  {{> SimpleFooter }}
  <style>
    .l-Header,
    .l-Container
    {
      --containerWidth: 90vw;
    }
    @keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}
    .chartjs-render-monitor{animation:chartjs-render-animation 1ms}
    .chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}
    .chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}
    .chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}
  </style>
  <script>
    const convertTime = (value) => {
      const sec = parseInt(value, 10); // convert value to number if it's string
      let hours   = Math.floor(sec / 3600); // get hours
      let minutes = Math.floor((sec - (hours * 3600)) / 60); // get minutes
      let seconds = sec - (hours * 3600) - (minutes * 60); //  get seconds
      // add 0 if value < 10; Example: 2 => 02
      if (hours   < 10) {hours   = "0"+hours;}
      if (minutes < 10) {minutes = "0"+minutes;}
      return hours+'h'+minutes+'m'; // Return is HH : MM : SS
    }

    const data = {
			labels: ['(Jan) 1','2','3','4','(Feb) 5','6','7','8','(Mar) 9','10','11','12','(Apr) 13','14','15','16','17','(May) 18','19','20','21','(Jun) 22','23','24','25','(Jul) 26','27','28','29','30','(Aug) 31','32','33','34','35'],
			datasets: [
        {
				  label: 'Walking',
				  fill: false,
				  data: [0,15684.821507,19181.450424499998,8252.673756,9682.097495000001,11752.351814,22269.388246,14080.544449,13268.463292,11730.136735999999,19638.4317571,13588.646198,20186.7247745,17448.346328,18082.604455,15892.636256,21504.9115019,11128.865924999999,17531.869332,20485.455787,18592.993057,19668.964959,18171.3461914,18134.5344821,34599.376835,15093.406741,25037.345818,18525.488475000002,19200.552808,19861.559238,11585.615317,20627.4325953,11750.248149000001,17589.947078, 0],
          pointRadius: 0,
          fill: true,
          borderColor: '#FF6F91',
          backgroundColor: '#FF6F91',
			  },
        {
				  label: 'Hiking',
				  fill: false,
				  data: [ 0, 0, 0, 1606.36371, 0, 1451.685161, 0, 2645.364217, 10792.24831, 0, 41682.48914, 0, 0, 0, 6065.950656, 21641.09696, 8149.856727, 22641.16252, 19929.20378, 0, 0, 0, 0, 8311.385124, 101378.2081, 0, 48837.36767, 0, 0, 0, 0, 0, 21581.74202, 41063.0185, 0],
          pointRadius: 0,
          fill: true,
          borderColor: '#296D14',
          backgroundColor: '#296D14',
			  },
        {
				  label: 'Surf',
				  fill: false,
				  data: [0,5392.140963,6416.614057,5326.897165,5079.485159,5356.078856, 4901.742634, 5057.56578, 7202.947343, 4807.440807,0,3148.03183, 2762.141222,2885.920416,5901.52848,0,5144.824897,3727.668731, 2293.015597, 3079.303737, 2083.762082,0,3608.040011,0,5403.796629,5367.237542,4327.532105,0,0,0,0,0,0,0,0,0,0,0,4738.249014, 2386.106871,0,0,0,0],
          pointRadius: 0,
          fill: true,
          borderColor: '#00B2FF',
          backgroundColor: '#00B2FF',
			  },
        {
				  label: 'Functional, Core & Strength',
				  fill: false,
				  data: [0,2140.811368,8257.639576,2083.248601,2162.354877,2407.991365,5933.130632,3241.840766,4760.748557,2539.5108649,1932.615267,2509.66248,2618.531253,0,1879.345408,1292.24884,5860.6408881,0,1460.778828,4802.8380531,5234.9904900000005,4604.834466,934.8756109,3596.44324,0,2665.146793,0,6059.584427,0,3865.894349,2382.602508,0,2114.931541,1345.70181,0],
          pointRadius: 0,
          fill: true,
          borderColor: '#577B97',
          backgroundColor: '#577B97',
			  },
        {
				  label: 'Cycling',
				  fill: false,
				  data: [0,0,772.73726,3133.729803,1904.882144,5335.551774,4486.557778,1574.036844,4466.614656,1888.149968,0,6198.274567,4759.3072125,4756.905159,3237.884013,1803.617927,5131.7387199,3009.436268,0,1808.433351,3006.288311,1241.431711,3771.2640554,658.9576751,0,2438.298056,0,2467.942321,4843.191047,0,2491.576695,3297.3097443,3332.909757,0,0],
          pointRadius: 0,
          fill: true,
          borderColor: '#00669E',
          backgroundColor: '#00669E',
			  },
        {
				  label: 'Running',
				  fill: false,
				  data: [0,0,0,0,1493.6390459,313.814164, 1183.478972,2127.8191589,353.569944,1377.8267109,1685.9467001,0,2467.0069351,2797.1833091,0,2274.996499,661.361797,1700.7872679,0,0,5956.804939,6172.179294,3620.341134,2320.0029859,3697.3448609,0,3951.8843219,0,3634.625922,4182.8540237,3425.539455,0,6367.6303399,1186.602041,0,0],
          pointRadius: 0,
          fill: true,
          borderColor: "#FFACFD",
          backgroundColor: "#FFACFD",
			  },
        {
				  label: 'Climbing',
				  fill: false,
				  data: [0,0,0,0,0,0,2646.241646,0,2831.115589,2892.806016,0,0,0,0,0,0,2553.611345,0,0,9862.552559,4289.736796,10555.040956,6904.324559,0,0,0,14682.57834,0,3700.135683,4253.744147,4519.784897,0,0,0,0],
          pointRadius: 0,
          fill: true,
          borderColor: '#00B8A0',
          backgroundColor: '#00B8A0',
			  },
        {
				  label: 'Stair Climbing',
				  fill: false,
				  data: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3895.523613,0,3888.54016,1207.658668,0,1833.955941,0,0,0,0,0,1802.987969,0,0,0,3432.331083,0,0,0],
          pointRadius: 0,
          fill: true,
          borderColor: '#445375',
          backgroundColor: '#445375',
			  },
        {
				  label: 'Elliptical & Rowing',
				  fill: false,
				  data: [0,0,3016.976687,0,0,0,0,929.4466181,652.00305,721.5512191,2103.927468,1455.747534,0,0,0,940.872386,0,604.430096,0,0,0,1839.402983,1809.345827,1387.251016,0,0,0,0,0,2120.98272,308.671301,0,0,0,0],
          pointRadius: 0,
          fill: true,
          borderColor: '#FF8879',
          backgroundColor: '#FF8879',
			  },
      ]
		};

    const config = {
      type: 'line',
      data: data,
      options: {
        responsive: true,
        tension: 0.2,
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          x: {
            title: {
              display: true,
              text: 'Weeks'
            }
          },
          y: {
            stacked: true,
            /*
            ticks: {
              // Include a dollar sign in the ticks
              callback: function(value) {
                return convertTime(value)
              }
            }
            */
          }
        },
        plugins: {
          legend: {
            position: 'bottom',
          },
          title: {
            display: true,
            text: 'Activities'
          },
          tooltip: {
            callbacks: {
              label: function(context) {
                return `${context.dataset.label}: ${convertTime(context.parsed.y)}`;
              }
            }
          },
          annotation: {
            annotations: {
              gredos: {
                type: 'box',
                xMin: 9.1,
                xMax: 10.9,
                yMin: 5000,
                yMax: 17000,
                backgroundColor: 'rgba(0, 0, 0, 0.5)',
                borderWidth: 0,
                label: {
                  display: true,
                  content: ['ðŸ¥¾ Hike', 'Sierra de', 'Gredos'],
                  color: '#FFF',
                  textAlign: 'center',
                  font: {
                    weight: 'normal',
                    size: 9
                  }
                }
              },
              picos: {
                type: 'box',
                xMin: 23.1,
                xMax: 24.9,
                yMin: 5000,
                yMax: 17000,
                backgroundColor: 'rgba(0, 0, 0, 0.5)',
                borderWidth: 0,
                label: {
                  display: true,
                  content: ['ðŸ¥¾ Hike', 'Picos de', 'Europa'],
                  color: '#FFF',
                  textAlign: 'center',
                  font: {
                    weight: 'normal',
                    size: 9
                  }
                }
              },
              ecrins: {
                type: 'box',
                xMin: 25.1,
                xMax: 26.9,
                yMin: 5000,
                yMax: 17000,
                backgroundColor: 'rgba(0, 0, 0, 0.5)',
                borderWidth: 0,
                label: {
                  display: true,
                  content: ['ðŸ§— Climb', 'Parc des', 'Ã‰crins'],
                  color: '#FFF',
                  textAlign: 'center',
                  font: {
                    weight: 'normal',
                    size: 9
                  }
                }
              },
              breithorn: {
                type: 'box',
                xMin: 31.1,
                xMax: 32.9,
                yMin: 5000,
                yMax: 17000,
                backgroundColor: 'rgba(0, 0, 0, 0.5)',
                borderWidth: 0,
                label: {
                  display: true,
                  content: ['ðŸ” Breithorn', 'Half Traverse'],
                  color: '#FFF',
                  textAlign: 'center',
                  font: {
                    weight: 'normal',
                    size: 9
                  }
                }
              },
              matterhorn: {
                type: 'box',
                xMin: 32.1,
                xMax: 33.9,
                yMin: 26000,
                yMax: 38000,
                backgroundColor: 'rgba(0, 0, 0, 0.5)',
                borderWidth: 0,
                label: {
                  display: true,
                  content: ['â­ï¸', 'Matterhorn', 'Ascent'],
                  color: '#FFF',
                  textAlign: 'center',
                  font: {
                    weight: 'normal',
                    size: 9
                  }
                }
              },
              
            }
          }
        }
      },
    };

    
    document.addEventListener('DOMContentLoaded', () => {
      var ctx = document.getElementById('activityVolume').getContext('2d');
		  window.myLine = new Chart(ctx, config);
    });
  </script>
</body>
</html>
