<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" >
  <title>{{ sitename }} &mdash; {{ title }}</title>
  <meta
    name="description"
    content="{{ description }}"
  >
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/app.css">
  <meta name="generator" content="metalsmith">
  {{> HomeStyles }}
</head>


<body>
  {{!-- {{> Header }} --}}

  <div class="l-Container">

    <main class="l-MainBlock">
      <div>
        <h1 class="l-MainBlock__title">Lawrence B. Almeida</h1>
        <em>a.k.a. law, mstrlaw</em>
        <!-- <em>/loh-rins/</em> -->
        <h2 class="l-MainBlock__intro">
          European <span>technologist</span> based in {{ location }}.<br>I <span>build digital products</span> and <span>explore technology's impact</span> on individuals and society.
        </h2>
      </div>
    </main>

    {{!-- {{#if postlist}}
        <ul>
        {{#each posts}}
          <li>
            <a href="/{{ path }}">{{ title }}</a>
          </li>
        {{/each}}
        </ul>
      {{/if}} --}}

    {{> Footer }}
  </div>

</body>
</html>
