<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" >
  <title>{{ sitename }}</title>
  <meta
    name="description"
    content="{{ description }}"
  >
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content="metalsmith">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/favicon/site.webmanifest">
  <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">

  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/app.css">
  <link rel="stylesheet" href="/styles/footer.css" async>
  <link rel="stylesheet" href="/styles/chart.css" async>
  <link rel="preload" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <script src="//cdn.jsdelivr.net/npm/axios@0.24.0/dist/axios.min.js" async></script>
  <script src="/scripts/home.min.js" async></script>
  <script src="/scripts/extra.min.js" async></script>
  <noscript>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
  </noscript>
  {{> HomeStyles }}
</head>

<body>
  {{!-- {{> Header }} --}}
  <div class="l-Container">
    <main class="l-MainBlock">
      <div>
        <h1 class="l-MainBlock__title">Lawrence B. Almeida</h1>
        <em>@mstrlaw</em>
        <h2 class="l-MainBlock__intro">
          <span>Technologist</span> based in {{ location }}.
          <br>
          Focused on <span>building digital products</span> and <span>exploring technology's impact</span> on individuals and society.
          <br>
          <br>
          Currently <span>Engineering Manager</span> at <a href="https://unbabel.com" target="_blank" rel="noopener noreferrer" class="u-Highlight purple">Unbabel<sup class="u-NewTab">&#8599;</sup></a>.
          <br>
          Publishes regularly on <a href="https://criticalfuture.tech/" target="_blank" rel="noopener noreferrer" class="u-Highlight red">Critical Future Tech<sup class="u-NewTab">&#8599;</sup></a> and occasionally on <a href="https://medium.com/@mstrlaw" target="_blank" rel="noopener noreferrer" class="u-Highlight black">Medium<sup class="u-NewTab">&#8599;</sup></a>.
          Maintains <a href="https://thoro.news/" target="_blank" rel="noopener noreferrer" class="u-Highlight blue">Thoro News<sup class="u-NewTab">&#8599;</sup></a>.
          <br>
          <br>
        </h2>
      </div>
    </main>

    <section class="c-Contacts">
      <h2 id="cont" class="c-Contacts__email" title="Please wait 5 seconds..">Drop me a line at <a id="adr" href="mailto:bot-honeypot@gmail.com" target="_blank" rel="noopener noreferrer" class="u-Highlight black disabled">generating...</a></h2>
      <p class="c-Contacts__extra">
        Or find me on
        <a href="https://www.linkedin.com/in/lawrencebraun/" target="_blank" rel="noopener noreferrer" class="u-Highlight black">LinkedIn<sup class="u-NewTab">&#8599;</sup></a>,
        <a href="https://www.instagram.com/mstrlaw/" target="_blank" rel="noopener noreferrer" class="u-Highlight black">Instagram<sup class="u-NewTab">&#8599;</sup></a> or <a href="https://github.com/mstrlaw" target="_blank" rel="noopener noreferrer" class="u-Highlight black">GitHub<sup class="u-NewTab">&#8599;</sup></a>.
      </p>
    </section>
    {{!-- {{#if postlist}}
        <ul>
        {{#each posts}}
          <li>
            <a href="/{{ path }}">{{ title }}</a>
          </li>
        {{/each}}
        </ul>
      {{/if}} --}}
  </div>
  <div class="c-Chart ct-chart"></div>
  <div class="c-Background"></div>
  {{> Footer }}
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on('init', user => {
        if (!user) {
          window.netlifyIdentity.on('login', () => {
            document.location.href = '/admin/';
          });
        }
      });
    }
  </script>
</body>
</html>
