<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" >
  <title>{{ sitename }} &mdash; {{ title }}</title>
  <meta
    name="description"
    content="{{ description }}"
  >
  <meta name="viewport" content="device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/app.css">
  <meta name="generator" content="metalsmith">
  <style>
    /* Critical CSS */
    .l-MainBlock{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1em 0;
      height: 100vh;
    }
  </style>
</head>


<body>
  <div class="l-Container">

    {{!-- {{> Header }} --}}

    {{{ contents }}}

    {{!-- {{#if postlist}}
        <ul>
        {{#each posts}}
          <li>
            <a href="/{{ path }}">{{ title }}</a>
          </li>
        {{/each}}
        </ul>
      {{/if}} --}}

    {{> Footer }}
  </div>

</body>
</html>
