<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" >
  <title>{{ sitename }} &mdash; {{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/app.css">
  <meta name="generator" content="metalsmith">
</head>
<body>
  <div class="container">

    {{> Header }}

    <main>
      {{{ contents }}}
      And then
      {{#if postlist}}
        <ul>
        {{#each posts}}
          <li>
            <a href="/{{ path }}">{{ title }}</a>
          </li>
        {{/each}}
        </ul>
      {{/if}}
    </main>

    <footer>
      <p>Generated with {{ generator }} &mdash; <a href="{{ url }}">{{ url }}</a></p>
    </footer>

  </div>

</body>
</html>
