<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" >
  <title>{{ title }} - {{ sitename}}</title>
  <meta
    name="description"
    content="{{ description }}"
  >
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content="metalsmith">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/favicon/site.webmanifest">
  <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">

  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/app.css">
  <link rel="stylesheet" href="/styles/post.css">
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/footer.css" async>
  {{> HomeStyles }}
</head>

<body>
  {{> Header }}
  <div class="l-Container">
    <article class="c-Article">
      <time>{{ formattedDate date }}</time>
      <h1 class="c-Article__title">{{ title }}</h1>
      <br>
      {{#if thumbnail}}
        <img src="{{ thumbnail }}" alt="Post main image">
      {{/if}}
      <br>
      {{{ contents }}}
    </article>
  </div>

  <div class="c-Background"></div>
  {{> SimpleFooter }}
</body>
</html>
